/* changes done by anurag srart */
.or {
	text-align: center;
	color: #333;
	position: relative;
	height: 30px;
	margin: 15px auto;
	font-size: 18px;
}
.or span {
	display: block;
	position: absolute;
	right: 0px;
	left: 0px;
	margin: 0px auto;
	background-color: #fff;
	z-index: 2;
	top: 0px;
	width: auto;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	padding: 6px;
}
.or span a {
	color: #4e469d;
	font-weight: bold;
}
.showfield {
	display: block !important;
}
.hidefield {
	display: none !important;
}
.or span a {
	color: #4e469d;
	font-weight: bold;
}
.hidefield {
	display: none !important;
}
.showfield {
	display: block !important;
}
.or span a {
	color: #4e469d;
	font-weight: bold;
}
.passlink {
	display: none;
}
.or:after {
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	background-color: #eee;
	z-index: 0;
	right: 0px;
	left: 0px;
	margin: 0px auto;
	top: 59%;
}
.enterotp {
	display: none;
}
@media only screen and (max-width:1024px) {
	.header .dash-logo {
		max-width: 65px;
		margin: 15px auto;
	}
}
/* changes done by anurag end */
@media only screen and (max-width:768px) {

	.moudlename .list-control {
		margin-top: 9px;
	}
	.help {
		top: 42%;
	}
	.profileicon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.bg-light1 {
        overflow-y: scroll !important;
    }
	footer {
		padding: 0px 0;
	}
	.login-form {
		width: 100%;
	}
	h1, .h1 {
		font-size: 1rem;
	}
	h2, .h2 {
		font-size: 1.1rem;
	}
	h3, .h3 {
		font-size: 1rem;
	}
	h4, .h4 {
		font-size: 1rem;
	}
	.help1 {
		left: -75px;
		padding: 4px 8px !important;
		top:60%
	}
	.loginsidebar h3, .loginsidebar .h3 {
        font-size: 0.8rem;
    }
	.loginsidebar h5{
        font-size: 0.8rem;
    }
	.circle, .help, .item {
		width: 60px;
		height: 60px;
	}
	.header .dash-logo {
		max-width: 45px;
		margin: 15px auto;
	}
}
@media only screen and (max-width:425px) {
	.mobile-resp{
		width: 60px;
	}
 	.loginsidebar {
		padding: 0.5em !important;
		background-image: none;
		background: linear-gradient(to bottom, #95d1fb 0%, #fff5d0 45%) !important;
	}
	.loginsidebar h3, .loginsidebar .h3 {
        font-size: 0.8rem;
    }
	.loginsidebar h5{
        font-size: 0.8rem;
    }
	.circle, .help, .item {
		width: 45px;
		height: 45px;
		margin: 0 0 0 5px;
		left: 0;
		top: 25%;
	}
	.bg-light1 {
        overflow-y: scroll !important;
    }
	footer {
		height: auto;
        position: relative;
	}
	.header .dash-logo {
		max-width: 55px;
	}
	.moudlename {
		font-size: 1rem;
	}
	.nav-text {
		font-size: .7em;
		white-space: normal;
	}
	.pageheader h4 .btn {
		width: auto;
		margin-top: 5px;
	}
	.moudlename {
		font-weight: 800;
		padding: 12px 0px;
		margin: 0;
		color: #fff;
		font-size: 1rem;
	}
}